In [1]:
import numpy as np
import pandas as pd

1. What's the version of numpy that you installed?

In [2]:
np.__version__

'1.23.2'

In [3]:
#car price dataset
! wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv

--2022-09-09 23:14:20--  https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 2606:50c0:8003::154, 2606:50c0:8000::154, 2606:50c0:8001::154, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|2606:50c0:8003::154|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1475504 (1.4M) [text/plain]
Saving to: ‘data.csv’

data.csv            100%[===================>]   1.41M  4.87MB/s    in 0.3s

2022-09-09 23:14:21 (4.87 MB/s) - ‘data.csv’ saved [1475504/1475504]

In [4]:
! mv data.csv data/data.csv

In [5]:
data = pd.read_csv('data/data.csv')

In [6]:
data.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

2. How many records are there in the dataset?

In [7]:
data.shape[0]

11914

3. What are the most frequent car manufacturers (top 3)?

In [8]:
data.Make.value_counts().head(3)

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

4. What's the number of unique Audi car models in the dataset?

In [9]:
data[data['Make'] == 'Audi']['Model'].nunique()

34

5. How many columns in the dataset have missing values?

In [10]:
missing_cnt = data.isnull().sum()
missing_cnt[missing_cnt>0]  #5

Engine Fuel Type       3
Engine HP             69
Engine Cylinders      30
Number of Doors        6
Market Category     3742
dtype: int64

6.1 Find the median value of "Engine Cylinders" column in the dataset.

In [11]:
data['Engine Cylinders'].median()

6.0

6.2 Next, calculate the most frequent value of the same "Engine Cylinders".

In [12]:
data['Engine Cylinders'].mode()

0    4.0
Name: Engine Cylinders, dtype: float64

6.3 Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.

In [13]:
data['Engine Cylinders'].fillna(data['Engine Cylinders'].mode(), inplace=True)

6.4 Now, calculate the median value of "Engine Cylinders" once again. Did it change?

In [14]:
data['Engine Cylinders'].median()

6.0

7.1 Select all the "Lotus" cars from the dataset.

In [15]:
lotus = data[data['Make'] == 'Lotus']
lotus.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
3912,Lotus,Elise,2009,premium unleaded (required),189.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,27,21,613,43995
3913,Lotus,Elise,2009,premium unleaded (required),218.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,26,20,613,54990
3914,Lotus,Elise,2009,premium unleaded (required),189.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,27,21,613,47250
3915,Lotus,Elise,2010,premium unleaded (required),189.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,27,21,613,47250
3916,Lotus,Elise,2010,premium unleaded (required),218.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,26,20,613,54990

7.2 Select only columns "Engine HP", "Engine Cylinders".

In [16]:
lotus_engine = lotus[['Engine HP', 'Engine Cylinders']]
lotus_engine

      Engine HP  Engine Cylinders
3912      189.0               4.0
3913      218.0               4.0
3914      189.0               4.0
3915      189.0               4.0
3916      218.0               4.0
3917      189.0               4.0
3918      217.0               4.0
3919      217.0               4.0
4216      350.0               8.0
4217      350.0               8.0
4218      350.0               8.0
4257      400.0               6.0
4258      400.0               6.0
4259      276.0               6.0
4260      276.0               6.0
4261      276.0               6.0
4262      345.0               6.0
4263      345.0               6.0
4264      276.0               6.0
4265      345.0               6.0
4266      276.0               6.0
4267      345.0               6.0
4268      276.0               6.0
4292      257.0               4.0
4293      240.0               4.0
4294      240.0               4.0
4295      240.0               4.0
4296      257.0               4.0
4297      257.0               4.0

7.3 Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).

In [17]:
lotus_engine = lotus_engine.drop_duplicates()
lotus_engine

      Engine HP  Engine Cylinders
3912      189.0               4.0
3913      218.0               4.0
3918      217.0               4.0
4216      350.0               8.0
4257      400.0               6.0
4259      276.0               6.0
4262      345.0               6.0
4292      257.0               4.0
4293      240.0               4.0

7.4 Get the underlying NumPy array. Let's call it X.

In [18]:
X = lotus_engine.values

7.5 Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.

In [19]:
XTX = X.T.dot(X)

7.6 Invert XTX.

In [20]:
XTX_inv = np.linalg.inv(XTX)

7.7 Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].

In [21]:
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])
y

array([1100,  800,  750,  850, 1300, 1000, 1000, 1300,  800])

7.8 Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.

In [22]:
w = XTX_inv.dot(X.T).dot(y)
w

array([  4.59494481, -63.56432501])

7.9 What's the value of the first element of w?

In [23]:
w[0].round(4)

4.5949